[submodule "thirdparty/android-ifaddrs"]
	path = thirdparty/android-ifaddrs
	url = https://gitee.com/mobangjack/android-ifaddrs.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = https://gitee.com/mobangjack/asio.git
[submodule "thirdparty/fastcdr"]
	path = thirdparty/fastcdr
	url = https://gitee.com/mobangjack/Fast-CDR.git
[submodule "thirdparty/idl"]
	path = thirdparty/idl
	url = https://gitee.com/mobangjack/IDL-Parser.git
[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://gitee.com/mobangjack/tinyxml2.git
